<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="pages show">
	<h2>Show Page</h2>


	<table summary="page detail view">
	  <tr>
	    <th>Subject Name</th>
	    <td><%= @page.subject.name %></td>
	  </tr>
		<tr>
		  <th>Name</th>
		  <td><%= @page.name %></td>
		</tr>
		<tr>
		  <th>Position</th>
		  <td><%= @page.position %></td>
		</tr>
		<tr>
		  <th>Link Name</th>
		  <td><%= @page.permalink %></td>
		</tr>
		<tr>
		  <th>Visible?</th>
		  <td><%= @page.visible ? "Yes" : "No" %></td>
		<tr>
		  <th>Created At</th>
		  <td><%= @page.created_at %></td>
		</tr>
		<tr>
		  <th>Last Updated</th>
		  <td><%= @page.updated_at %></td>
		</tr>
	</table>
</div>