<% @page_title = 'All Subjects' %>
<div class="subjects index">
<%= link_to("<< Back to Admin Menu", access_menu_path, :class => "back-link") %>
<h2>Subjects</h2>

<%= image_tag('plus_sign.png', :size => '11x11', :alt =>'+') %>
<%= link_to("Add New Subject", new_subject_path, :class => 'action new') %>

<table class="listing tablesorter" id="myTable" summary="Subject list">
  <thead>
    <tr class="header tablesorter-header">
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
    <tr onclick="location.href = '<%= subject_path(subject) %>'"">
	  <td><%= subject.position %></td>
	  <td><%= subject.name %></td>
	  <td class="center"><%= status_tag(subject.visible) %></td>
	  <td class="center"><%= subject.pages.size %></td>
	  <td class="actions">
	    <%= link_to("Show", subject_path(subject), :class => 'action show') %>
	    <%= link_to("Edit", edit_subject_path(subject), :class => 'action edit') %>
	    <%= link_to("Delete", delete_subject_path(subject), :class => 'action delete') %>
	  </td>
	</tr>
    <% end %>
  </tbody>
  </table>
  
  <h2><%= pluralize(@subjects.count, "subject") %> found</h2>

  <%= will_paginate @subjects %>

</div>
