<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects show">
	<h2>Show Subject</h2>


	<table summary="Subject detail view">
		<tr>
		  <th>Name</th>
		  <td><%= @subject.name %></td>
		</tr>
		<tr>
		  <th>Position</th>
		  <td><%= @subject.position %></td>
		</tr>
		<tr>
		  <th>Visible?</th>
		  <td><%= @subject.visible ? "Yes" : "No" %></td>
		<tr>
		  <th>Created At</th>
		  <td><%= time_ago_in_words @subject.created_at %> ago</td>
		</tr>
		<tr>
		  <th>Last Updated</th>
		  <td><%= time_ago_in_words(@subject.updated_at) %> ago</td>
		</tr>
	</table>
</div>